.search__input{
    border-radius: 8px;
    border: solid 2px orange;
    width: 300px;
    height: 20px;
}

.search__button {
    border-radius: 8px;
    height: 26px;
    color: #fff;
    border: solid 2px orange;
    background-color: orange;
    cursor: pointer;
}